* {
	box-sizing: border-box;
}

body {
	margin: 10px;
	background-color: #21213d;
	padding: 10px;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
	padding: 10px 20px;
	border-bottom: 2px solid #f53b57;
}

.sub-header {
	display: flex;
	flex-direction: column;
	justify-items: center;
	text-align: center;
	color: blanchedalmond;
	margin-left: 24px;
	margin-right: 24px;
	padding: 24px;
}

.container {
	border-color: #d1d2d3;
	border: 5px;
	margin-top: auto;
	display: flex;
	width: 100%;
}

.cards {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	grid-gap: 20px;
	padding: 0 30px 50px;
	margin: 0 24px;
	cursor: pointer;
}

.cards .cards-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #fff; /* White background */
	padding: 20px;
	border-radius: 50%; /* Rounded shape */
	width: 200px; /* Adjust width to your preference */
	height: 200px; /* Adjust height to your preference */
	border: 10px solid #000; /* Black border */
	position: relative; /* Position relative for the inner elements */
}

.cards .cards-inner::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70px; /* Adjust the width of the inner circle */
	height: 70px; /* Adjust the height of the inner circle */
	background-color: #fff; /* White color */
	border-radius: 50%; /* Rounded shape */
	z-index: 1; /* Ensure it's above the main circle */
}

.cards .cards-inner::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px; /* Adjust the width of the center circle */
	height: 50px; /* Adjust the height of the center circle */
	background-color: #000; /* Black color */
	border-radius: 50%; /* Rounded shape */
	z-index: 2; /* Ensure it's above the white circle */
}

.cards:hover .cards-inner {
	box-shadow: 0 5px 20px rgba(1, 45, 128, 0.5);
}

/* //MODAL */

.modal-img {
	width: 200px;
	height: 200px;
}

.modal-header {
	display: flex;
	justify-content: space-evenly;
	gap: 60px;
	align-items: center;
	border: none;
	background-image: url(../img/card-bg.png);
}
.modal-title {
	font-size: 2rem;
	font-weight: 600;
	color: #333;
}

.modal-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(../img/card-bg.png);
	background-size: cover;
}

.modal-footer {
	display: flex;
	border: none;
	justify-content: flex-end;
	align-items: center;
	background-image: url(../img/card-bg.png);
}

.btn .btn-close {
	color: #dcfd00;
}
